.search{
    text-align: center;
    margin-top: 190px;
  
  }
  .box{
    border-radius: 15px;
    width: 500px;
    height: 15px;
    padding: 10px;
  }
  
  .btn{
    width: 150px;
    height: 30px;
    margin-top:  20px;
    background-color: #F8F9FA;
    color: black;
    border-radius: 5px;
    border: 1px solid transparent;
    outline: none;
  
  }
  .btn:hover{
    border: 2px solid rgb(185, 185, 185);
  }
  
  .links{
    text-align: right;
    margin: 20px;
  
  }
  .links > a
  {
    color: black;
    margin: 10px;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
  .a_btn{
    background-color: #0059e8;
    width: 140px;
    height: 30px;
    color: white;
    margin-top: 35px;
    border-radius: 5px;
  }
  
  
  .form{
    margin: 30px;
  }
  
  .form > input{
    width: 700px;
    height: 25px;
    border-radius: 5px;
  }
  
  .a_btn:hover{
    background-color: #0059f9;
  }
  
  label {
    width:200px;
    display: inline-block;
  }